* {
    box-sizing: border-box;
}

@font-face {
    font-family:'Roboto';
    src: local('Roboto');
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-bold';
    src: local('Roboto-bold');
    src: url(../font/Roboto-Bold.ttf);
}
@font-face {
    font-family: "Philosopher";
    src: local('Philosopher');
    src: url(../font/Philosopher-Regular.ttf);
}

body {
    background-color: #FFE2B0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

li {
    display: inline;
    margin-right: 100px;
    font-family: 'Roboto';
}

li:last-child {
    margin-right: 0px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

nav {
    margin-bottom: 20px;
}

.section-about {
    height: 640px;
    background-image: url(../img/01-Картинка-фона.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
}

.section-about__block {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244, 213, 178, 0.8)0%, rgba(234, 156, 65, 0.8)100%);
    position: absolute;
    top: 54%;
    left: 50%;
    padding-top: 15px;

}

.section-about__boarder {
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 17px 0 0 28px;
    text-align: left;
}

.section-about__h1 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
    font-family: "Philosopher";
}

.section-about__p {
    font-size: 12px;
    margin: 0;
    font-family: 'Roboto';
}

.description {
    margin-bottom: 20px;
}

.description__icon-box {
    text-align: center;
}

.description__icon-box img {
    margin-right: 76px;
    margin-bottom: 20px;
}

.description__icon-box img:last-child {
    margin-right: 0px;
}

.description__text-box_title {
    font-size: 96px;
    margin: 0;
    text-align: center;
    font-family: "Philosopher";
}

.description__text-box_title_span {
    color: #f15b40;
}

.description__text-box__text {
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    font-family: 'Roboto';
}

.map__title {
    margin-bottom: 20px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Philosopher";
}

iframe {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

hr {
    border: none;
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer {
    height: 80px;
}

h1 {
    font-family: 'Roboto';
}
